.Graphs {
    margin: 0 auto;
    margin-top: 25px;
}

.loading {
    display: inline;
    padding-left: 20px;
}

.calculation {
    text-align: center;
    color: white;
    font-size: 10px;
    margin-top: 7px;
}